{% extends 'layout/base.html' %}

{% block title %}Contacts{% endblock %}

{% block body %}

<h1 class="m-5" id="contract_list_head">Contact List</h1>
<h1 class="m-5" id="log_info">Sign up or Sign in</h1>

<div class="container" id="main_container">
    <div class="row">
        <div class="col">
            <h4><strong>Name</strong></h4>
        </div>
        <div class="col">
            <h4><strong>Number</strong></h4>
        </div>
        <div class="col">
            <h4><strong>Email</strong></h4>
        </div>
    </div>
</div>

<div class="container" id="card">

</div>

    <script>
    $('#contract_list_head').hide()
    $('#main_container').hide()
    let cookie_data = document.cookie
    const part = cookie_data.split(";")
    if(part[1]){
        $('#contract_list_head').show()
        $('#main_container').show()
        $('#log_info').hide()
    }
    let x = document.cookie
        .split(';')
        .map(cookie => cookie.split('='))
        .reduce((accumulator, [key, value]) => ({ ...accumulator, [key.trim()]: decodeURIComponent(value) }), {});

        $.ajax({
            type: "GET",
            url: "http://127.0.0.1:8000/contact_list_api/",
            headers: {Authorization: 'Bearer ' + x.access},
            data: "",
            success: function(data){
                console.log("Success Checking")
                console.log(data)

                for(var i = 0; i < data.length; i++){
                    $('#card').append(`
                        <a class="row p-2 hoverEffect" href="/details/${data[i].slug}/">
                            <div class="col">
                                <span class="h4">${data[i].name}</span>
                            </div>
                            <div class="col">
                                <span class="h4">${data[i].phone}</span>
                            </div>
                            <div class="col">
                                <span class="h4">${data[i].email}</span>
                            </div>
                        </a>
                        <a class="m-3 btn neuEffect btn-lg" href="/${data[i].slug}/">Favorite</a>
                        <a class="m-3 btn neuEffect btn-lg" href="shear/${data[i].slug}/">Share</a>
                    `)
                }

            },
            error: function(data){
                console.log("Error Checking")
                console.log(data)
            }
        });

    </script>

{% endblock %}