{% load static %}

<div class="container" style="max-width: 100%;">
    <div class="row">
        <span>
            <a id="add_new_contact" class="fa fa-plus btn neuEffect btn-lg" href="/addcontact/"><strong class="h5"> New</strong></a>
        </span>
    </div>
    <div class="row m-5">
        <span>
            <a id="import" class="fa fa-upload btn neuEffect btn-lg" href="/import/"><strong class="h5"> Import</strong></a>
        </span>
    </div>
    <div class="row m-5">
        <span>
            <a id="export" class="fa fa-download btn neuEffect btn-lg" href="/Export/"><strong class="h5"> Export</strong></a>
        </span>
    </div>
    <div class="row m-5">
        <span>
            <a id="trash" class="fa fa-trash btn neuEffect btn-lg" href="/trashcontact/"><strong class="h5"> Trash</strong></a>
        </span>
    </div>

</div>