{% load static %}

<div class="container" style="max-width: 100%;">
    <div class="row">
        <span>
            <a id="add_new_contact" class="fa fa-plus btn neuEffect btn-lg" href="/addcontact/"><strong class="h5"> New</strong></a>
        </span>
    </div>
    <div class="row m-5">
        <span>
            <button type="button" id="import" class="fa fa-upload btn neuEffect btn-lg" data-toggle="modal" data-target="#exampleModalCenter"><strong class="h5"> Import</strong></button>
        </span>
    </div>
    <div class="row m-5">
        <span>
            <button type="button" id="export" class="fa fa-download btn neuEffect btn-lg" data-toggle="modal" data-target="#exportContactsModal"><strong class="h5"> Export</strong></button>
        </span>
    </div>
    <div class="row m-5">
        <span>
            <a id="trash" class="fa fa-trash btn neuEffect btn-lg" href="/trashcontact/"><strong class="h5"> Trash</strong></a>
        </span>
    </div>
</div>


<!-- Import Contacts Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLongTitle">Import Contacts</h3>
        <button type="button" id="import_modal_close_button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <form enctype="multipart/form-data" method="POST" id="import_contact_form">
            {% csrf_token %}
      <div class="modal-body text-center">
            <h5>To import contacts, select a CSV file.</h5>
            <label class="btn btn-lg neuEffect" for="contacts_file" style="cursor: pointer;">Select File
                <input class="ms-5 btn btn-sm btn-primary mx-auto" id="contacts_file" name="contacts_file"
                       accept="text/csv" placeholder="Select File" required
                       style="max-width: 35%; display: none;" type="file" value="">
            </label>
            <div id="modal_feedback"><div class="p-3 m-3 spinner-border text-secondary" role="status" id="import_contact_loader"></div></div>
      </div>
      <div class="" id="modal_footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <input class="m-5 btn neuEffect" type="submit" value="Import" id="import_contact" style="font-weight: bold;">
      </div>
        </form>
    </div>
  </div>
</div>


<!-- Export Contacts Modal -->
<div class="modal fade" id="exportContactsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exportModalLongTitle">Export Contacts</h3>
        <button type="button" id="export_modal_close_button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
          <h2 class="font-bold">On Going...</h2>
          <h4 class="font-bold">We are still working on this feature and as soon as its complete we will release it for end user</h4>
      </div>
      <div class="">
        <button type="button" class="m-3 btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>